.body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color:rgb(73, 128, 128);
    display:flex;
    color: white;

}
.header img{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.heading{
    padding-left: 40px;

}  
.content{
    background-color: cornsilk;
}   
.block1{
    float: right;
    width: 50%;
    padding-top: 50px;
    padding: 10px;

}
.block2{
    float: right;
    width: 50%;

}
.block3 img{
    padding-top: 20px;
    height: 450px;
    padding: 10px;


}
.form{
    padding-bottom: 20px;
    padding-left: 20px;

}
.footer{
    display: flex;
    color: white;
    padding: 25px;
    height: 80px;
    background-color: rgb(71, 68, 68);
}
#row1, #row2{
    padding-left: 100px;
}